In [108]:
import pandas as pd

In [109]:
df = pd.read_excel(r'DataAlumni.csv')
df

,No,Nim,Nama,TTL,Fakultas/Ketrampilan,Alamat,Tahun Masuk,Tahun Lulus,Status Pekerjaan,Lama Masa Tunggu (bulan),Gaji Pertama bekerjaa,Nilai Toefl,IPK
0,1,9018263,Puguh Drajat E.P,"Purworejo, 4 November 1989",FTI / Teknik Iformatika,Tangerang Rt. 01/ 0,2009,2016,NaN,2.4,1475635.0,390.0,2.13
1,2,12022030,Arsyad Cahya Subrata,"Bantul, 21 juni 1994",FTI / Teknik Elektro,"Karangpule Rt.01 , Tirtonirmolo , Kasihan Bantul",2012,2016,NaN,NaN,NaN,NaN,NaN
2,3,12020021,Yesi Novela,"Tempilang, 1 januari 1995",FTI,NaN,2012,2016,Mahasiswa,2.4,1475635.0,NaN,NaN
3,4,9018269,Pandu Herwijaya,"Lampung, 19 Desember 1990",FTI/ Teknik Infomatika,"Tamantirto, Kasihan ,Bantul",2009,2016,NaN,2.4,1475634.0,413.0,2.75
4,5,9018109,Anjar Prasetyo,"Gunungkidul, 27 April 1991",FTI /Teknik Informatika,"Umbulharjo , Yogyakarta",2009,2016,NaN,NaN,NaN,NaN,NaN
5,6,9020026,Moh. Dadi Kurniawan,"Savanajaya, 27 Maret 1992",FTI / Futsal,Saren Rt. 02 Rw. 01 Caturtunggal,2009,2016,NaN,2.4,1475635.0,400.0,3.24
6,7,12018060,Martin Sarlina,"Lepak, 23 Maret 1994",FTI,NTB,2012,2016,NaN,2.4,1475635.0,396.0,3.27
7,8,11018022,Yan Adhi Permadi,"Jepara, 22 juni 1993",FTI,Umbulharjo V,2011,2016,Wiraswasta,2.4,1475635.0,460.0,3.20
8,9,9018212,Achicha Wahyuni,"Yogyakarta, 3 juni 1991",FTI/ Web Design,"Noyokerten, Sendangirto, Berbah",2009,2016,Guru,0.0,600000.0,403.0,3.24
9,10,9018301,Yayan Tisna Permadi,"Purbalingga, 08 Oktober 1991",FTI/ Teknik Inormatika,"Tajug, Rt.04/ 05 Purbalingga",2009,2016,NaN,2.4,1475635.0,450.0,3.06
10,11,12022020,Muh. Rama dhai,"Pekanbaru, 29 Maret 1992",FTI / Teknik Elektro,"Karongan Rt/Rw. 04/11 Jogotirto, Berbah Sleman",2012,2016,NaN,2.4,1200000.0,423.0,3.47
11,12,12022038,Nurwahyuddi,"Dili, timor-timur/ 13 April 1995",FTI / Teknik Elektro,Juru Gentong J V/407 C Banguntapan,2012,2016,Mahasiswa,2.4,1475635.0,413.0,3.62
12,13,12019039,Agus Purnomo,"Klaten, 2 Agustus 1992",FTI/ Teknik Industri,"Dukuh Glagahwangi, Polanharjo",2012,2016,NaN,2.4,1475635.0,480.0,3.32
13,14,11018111,M. Akhwan Zulfayandi,"Teros, 12 September 1992",FTI/ Teknik Informatika,"Jl. Peumnas gg. Indragiri Blok B/24, Condongcatur",2011,2016,NaN,2.4,1475635.0,406.0,3.14
14,15,9018135,Yunita Tri Hernawai,"Magelang, 20 Juni 1991",FTI/ Teknik Informatika,Magelang,2009,2016,Swasta,1.0,1500000.0,423.0,2.99
15,16,12018161,Pratama Setya Aji,"Sleman, 20 September 1994",FTI,Jl. Affandi gg.Kamboja CTX.19 Yogyakarta,2012,2016,Freelance,0.0,750000.0,400.0,3.60

In [110]:
df.columns = ['No', 'NIM', 'Nama', 'TTL', 'Fakultas', 'Alamat', 'Masuk', 'Lulus', 'Status', 'LamaTunggu', 'Gaji', 'TOEFL', 'IPK']

In [111]:
mean_IPK = df.IPK.mean()
mean_TOEFL = df.TOEFL.mean()
mean_Masa = df.LamaTunggu.mean()
mean_Gaji = df.Gaji.mean()

In [112]:
df.IPK.fillna(mean_IPK, inplace = True)
df.TOEFL.fillna(mean_TOEFL, inplace = True)
df.LamaTunggu.fillna(mean_Masa, inplace = True)
df.Gaji.fillna(mean_Gaji, inplace = True)
df

,No,NIM,Nama,TTL,Fakultas,Alamat,Masuk,Lulus,Status,LamaTunggu,Gaji,TOEFL,IPK
0,1,9018263,Puguh Drajat E.P,"Purworejo, 4 November 1989",FTI / Teknik Iformatika,Tangerang Rt. 01/ 0,2009,2016,NaN,2.400000,1.475635e+06,390.000000,2.130000
1,2,12022030,Arsyad Cahya Subrata,"Bantul, 21 juni 1994",FTI / Teknik Elektro,"Karangpule Rt.01 , Tirtonirmolo , Kasihan Bantul",2012,2016,NaN,1.957143,1.343311e+06,419.769231,3.156154
2,3,12020021,Yesi Novela,"Tempilang, 1 januari 1995",FTI,NaN,2012,2016,Mahasiswa,2.400000,1.475635e+06,419.769231,3.156154
3,4,9018269,Pandu Herwijaya,"Lampung, 19 Desember 1990",FTI/ Teknik Infomatika,"Tamantirto, Kasihan ,Bantul",2009,2016,NaN,2.400000,1.475634e+06,413.000000,2.750000
4,5,9018109,Anjar Prasetyo,"Gunungkidul, 27 April 1991",FTI /Teknik Informatika,"Umbulharjo , Yogyakarta",2009,2016,NaN,1.957143,1.343311e+06,419.769231,3.156154
5,6,9020026,Moh. Dadi Kurniawan,"Savanajaya, 27 Maret 1992",FTI / Futsal,Saren Rt. 02 Rw. 01 Caturtunggal,2009,2016,NaN,2.400000,1.475635e+06,400.000000,3.240000
6,7,12018060,Martin Sarlina,"Lepak, 23 Maret 1994",FTI,NTB,2012,2016,NaN,2.400000,1.475635e+06,396.000000,3.270000
7,8,11018022,Yan Adhi Permadi,"Jepara, 22 juni 1993",FTI,Umbulharjo V,2011,2016,Wiraswasta,2.400000,1.475635e+06,460.000000,3.200000
8,9,9018212,Achicha Wahyuni,"Yogyakarta, 3 juni 1991",FTI/ Web Design,"Noyokerten, Sendangirto, Berbah",2009,2016,Guru,0.000000,6.000000e+05,403.000000,3.240000
9,10,9018301,Yayan Tisna Permadi,"Purbalingga, 08 Oktober 1991",FTI/ Teknik Inormatika,"Tajug, Rt.04/ 05 Purbalingga",2009,2016,NaN,2.400000,1.475635e+06,450.000000,3.060000
10,11,12022020,Muh. Rama dhai,"Pekanbaru, 29 Maret 1992",FTI / Teknik Elektro,"Karongan Rt/Rw. 04/11 Jogotirto, Berbah Sleman",2012,2016,NaN,2.400000,1.200000e+06,423.000000,3.470000
11,12,12022038,Nurwahyuddi,"Dili, timor-timur/ 13 April 1995",FTI / Teknik Elektro,Juru Gentong J V/407 C Banguntapan,2012,2016,Mahasiswa,2.400000,1.475635e+06,413.000000,3.620000
12,13,12019039,Agus Purnomo,"Klaten, 2 Agustus 1992",FTI/ Teknik Industri,"Dukuh Glagahwangi, Polanharjo",2012,2016,NaN,2.400000,1.475635e+06,480.000000,3.320000
13,14,11018111,M. Akhwan Zulfayandi,"Teros, 12 September 1992",FTI/ Teknik Informatika,"Jl. Peumnas gg. Indragiri Blok B/24, Condongcatur",2011,2016,NaN,2.400000,1.475635e+06,406.000000,3.140000
14,15,9018135,Yunita Tri Hernawai,"Magelang, 20 Juni 1991",FTI/ Teknik Informatika,Magelang,2009,2016,Swasta,1.000000,1.500000e+06,423.000000,2.990000
15,16,12018161,Pratama Setya Aji,"Sleman, 20 September 1994",FTI,Jl. Affandi gg.Kamboja CTX.19 Yogyakarta,2012,2016,Freelance,0.000000,7.500000e+05,400.000000,3.600000

In [113]:
def_status = 'Mahasiswa'
DATA.Status.fillna(def_status, inplace = True)
df

,No,NIM,Nama,TTL,Fakultas,Alamat,Masuk,Lulus,Status,LamaTunggu,Gaji,TOEFL,IPK
0,1,9018263,Puguh Drajat E.P,"Purworejo, 4 November 1989",FTI / Teknik Iformatika,Tangerang Rt. 01/ 0,2009,2016,Mahasiswa,2.400000,1.475635e+06,390.000000,2.130000
1,2,12022030,Arsyad Cahya Subrata,"Bantul, 21 juni 1994",FTI / Teknik Elektro,"Karangpule Rt.01 , Tirtonirmolo , Kasihan Bantul",2012,2016,Mahasiswa,1.957143,1.343311e+06,419.769231,3.156154
2,3,12020021,Yesi Novela,"Tempilang, 1 januari 1995",FTI,NaN,2012,2016,Mahasiswa,2.400000,1.475635e+06,419.769231,3.156154
3,4,9018269,Pandu Herwijaya,"Lampung, 19 Desember 1990",FTI/ Teknik Infomatika,"Tamantirto, Kasihan ,Bantul",2009,2016,Mahasiswa,2.400000,1.475634e+06,413.000000,2.750000
4,5,9018109,Anjar Prasetyo,"Gunungkidul, 27 April 1991",FTI /Teknik Informatika,"Umbulharjo , Yogyakarta",2009,2016,Mahasiswa,1.957143,1.343311e+06,419.769231,3.156154
5,6,9020026,Moh. Dadi Kurniawan,"Savanajaya, 27 Maret 1992",FTI / Futsal,Saren Rt. 02 Rw. 01 Caturtunggal,2009,2016,Mahasiswa,2.400000,1.475635e+06,400.000000,3.240000
6,7,12018060,Martin Sarlina,"Lepak, 23 Maret 1994",FTI,NTB,2012,2016,Mahasiswa,2.400000,1.475635e+06,396.000000,3.270000
7,8,11018022,Yan Adhi Permadi,"Jepara, 22 juni 1993",FTI,Umbulharjo V,2011,2016,Wiraswasta,2.400000,1.475635e+06,460.000000,3.200000
8,9,9018212,Achicha Wahyuni,"Yogyakarta, 3 juni 1991",FTI/ Web Design,"Noyokerten, Sendangirto, Berbah",2009,2016,Guru,0.000000,6.000000e+05,403.000000,3.240000
9,10,9018301,Yayan Tisna Permadi,"Purbalingga, 08 Oktober 1991",FTI/ Teknik Inormatika,"Tajug, Rt.04/ 05 Purbalingga",2009,2016,Mahasiswa,2.400000,1.475635e+06,450.000000,3.060000
10,11,12022020,Muh. Rama dhai,"Pekanbaru, 29 Maret 1992",FTI / Teknik Elektro,"Karongan Rt/Rw. 04/11 Jogotirto, Berbah Sleman",2012,2016,Mahasiswa,2.400000,1.200000e+06,423.000000,3.470000
11,12,12022038,Nurwahyuddi,"Dili, timor-timur/ 13 April 1995",FTI / Teknik Elektro,Juru Gentong J V/407 C Banguntapan,2012,2016,Mahasiswa,2.400000,1.475635e+06,413.000000,3.620000
12,13,12019039,Agus Purnomo,"Klaten, 2 Agustus 1992",FTI/ Teknik Industri,"Dukuh Glagahwangi, Polanharjo",2012,2016,Mahasiswa,2.400000,1.475635e+06,480.000000,3.320000
13,14,11018111,M. Akhwan Zulfayandi,"Teros, 12 September 1992",FTI/ Teknik Informatika,"Jl. Peumnas gg. Indragiri Blok B/24, Condongcatur",2011,2016,Mahasiswa,2.400000,1.475635e+06,406.000000,3.140000
14,15,9018135,Yunita Tri Hernawai,"Magelang, 20 Juni 1991",FTI/ Teknik Informatika,Magelang,2009,2016,Swasta,1.000000,1.500000e+06,423.000000,2.990000
15,16,12018161,Pratama Setya Aji,"Sleman, 20 September 1994",FTI,Jl. Affandi gg.Kamboja CTX.19 Yogyakarta,2012,2016,Freelance,0.000000,7.500000e+05,400.000000,3.600000

In [114]:
for index, row in df.iterrows():
    df.loc[index, 'Tahun Lahir'] = row['TTL'][-4:]
df

,No,NIM,Nama,TTL,Fakultas,Alamat,Masuk,Lulus,Status,LamaTunggu,Gaji,TOEFL,IPK,Tahun Lahir
0,1,9018263,Puguh Drajat E.P,"Purworejo, 4 November 1989",FTI / Teknik Iformatika,Tangerang Rt. 01/ 0,2009,2016,Mahasiswa,2.400000,1.475635e+06,390.000000,2.130000,1989
1,2,12022030,Arsyad Cahya Subrata,"Bantul, 21 juni 1994",FTI / Teknik Elektro,"Karangpule Rt.01 , Tirtonirmolo , Kasihan Bantul",2012,2016,Mahasiswa,1.957143,1.343311e+06,419.769231,3.156154,1994
2,3,12020021,Yesi Novela,"Tempilang, 1 januari 1995",FTI,NaN,2012,2016,Mahasiswa,2.400000,1.475635e+06,419.769231,3.156154,1995
3,4,9018269,Pandu Herwijaya,"Lampung, 19 Desember 1990",FTI/ Teknik Infomatika,"Tamantirto, Kasihan ,Bantul",2009,2016,Mahasiswa,2.400000,1.475634e+06,413.000000,2.750000,1990
4,5,9018109,Anjar Prasetyo,"Gunungkidul, 27 April 1991",FTI /Teknik Informatika,"Umbulharjo , Yogyakarta",2009,2016,Mahasiswa,1.957143,1.343311e+06,419.769231,3.156154,1991
5,6,9020026,Moh. Dadi Kurniawan,"Savanajaya, 27 Maret 1992",FTI / Futsal,Saren Rt. 02 Rw. 01 Caturtunggal,2009,2016,Mahasiswa,2.400000,1.475635e+06,400.000000,3.240000,1992
6,7,12018060,Martin Sarlina,"Lepak, 23 Maret 1994",FTI,NTB,2012,2016,Mahasiswa,2.400000,1.475635e+06,396.000000,3.270000,1994
7,8,11018022,Yan Adhi Permadi,"Jepara, 22 juni 1993",FTI,Umbulharjo V,2011,2016,Wiraswasta,2.400000,1.475635e+06,460.000000,3.200000,1993
8,9,9018212,Achicha Wahyuni,"Yogyakarta, 3 juni 1991",FTI/ Web Design,"Noyokerten, Sendangirto, Berbah",2009,2016,Guru,0.000000,6.000000e+05,403.000000,3.240000,1991
9,10,9018301,Yayan Tisna Permadi,"Purbalingga, 08 Oktober 1991",FTI/ Teknik Inormatika,"Tajug, Rt.04/ 05 Purbalingga",2009,2016,Mahasiswa,2.400000,1.475635e+06,450.000000,3.060000,1991
10,11,12022020,Muh. Rama dhai,"Pekanbaru, 29 Maret 1992",FTI / Teknik Elektro,"Karongan Rt/Rw. 04/11 Jogotirto, Berbah Sleman",2012,2016,Mahasiswa,2.400000,1.200000e+06,423.000000,3.470000,1992
11,12,12022038,Nurwahyuddi,"Dili, timor-timur/ 13 April 1995",FTI / Teknik Elektro,Juru Gentong J V/407 C Banguntapan,2012,2016,Mahasiswa,2.400000,1.475635e+06,413.000000,3.620000,1995
12,13,12019039,Agus Purnomo,"Klaten, 2 Agustus 1992",FTI/ Teknik Industri,"Dukuh Glagahwangi, Polanharjo",2012,2016,Mahasiswa,2.400000,1.475635e+06,480.000000,3.320000,1992
13,14,11018111,M. Akhwan Zulfayandi,"Teros, 12 September 1992",FTI/ Teknik Informatika,"Jl. Peumnas gg. Indragiri Blok B/24, Condongcatur",2011,2016,Mahasiswa,2.400000,1.475635e+06,406.000000,3.140000,1992
14,15,9018135,Yunita Tri Hernawai,"Magelang, 20 Juni 1991",FTI/ Teknik Informatika,Magelang,2009,2016,Swasta,1.000000,1.500000e+06,423.000000,2.990000,1991
15,16,12018161,Pratama Setya Aji,"Sleman, 20 September 1994",FTI,Jl. Affandi gg.Kamboja CTX.19 Yogyakarta,2012,2016,Freelance,0.000000,7.500000e+05,400.000000,3.600000,1994

In [115]:
from datetime import datetime
now = datetime.now()

now.year
for index, row in df.iterrows():
    df.loc[index, 'Umur'] = now.year - int(row['Tahun Lahir'])
    
df

,No,NIM,Nama,TTL,Fakultas,Alamat,Masuk,Lulus,Status,LamaTunggu,Gaji,TOEFL,IPK,Tahun Lahir,Umur
0,1,9018263,Puguh Drajat E.P,"Purworejo, 4 November 1989",FTI / Teknik Iformatika,Tangerang Rt. 01/ 0,2009,2016,Mahasiswa,2.400000,1.475635e+06,390.000000,2.130000,1989,34.0
1,2,12022030,Arsyad Cahya Subrata,"Bantul, 21 juni 1994",FTI / Teknik Elektro,"Karangpule Rt.01 , Tirtonirmolo , Kasihan Bantul",2012,2016,Mahasiswa,1.957143,1.343311e+06,419.769231,3.156154,1994,29.0
2,3,12020021,Yesi Novela,"Tempilang, 1 januari 1995",FTI,NaN,2012,2016,Mahasiswa,2.400000,1.475635e+06,419.769231,3.156154,1995,28.0
3,4,9018269,Pandu Herwijaya,"Lampung, 19 Desember 1990",FTI/ Teknik Infomatika,"Tamantirto, Kasihan ,Bantul",2009,2016,Mahasiswa,2.400000,1.475634e+06,413.000000,2.750000,1990,33.0
4,5,9018109,Anjar Prasetyo,"Gunungkidul, 27 April 1991",FTI /Teknik Informatika,"Umbulharjo , Yogyakarta",2009,2016,Mahasiswa,1.957143,1.343311e+06,419.769231,3.156154,1991,32.0
5,6,9020026,Moh. Dadi Kurniawan,"Savanajaya, 27 Maret 1992",FTI / Futsal,Saren Rt. 02 Rw. 01 Caturtunggal,2009,2016,Mahasiswa,2.400000,1.475635e+06,400.000000,3.240000,1992,31.0
6,7,12018060,Martin Sarlina,"Lepak, 23 Maret 1994",FTI,NTB,2012,2016,Mahasiswa,2.400000,1.475635e+06,396.000000,3.270000,1994,29.0
7,8,11018022,Yan Adhi Permadi,"Jepara, 22 juni 1993",FTI,Umbulharjo V,2011,2016,Wiraswasta,2.400000,1.475635e+06,460.000000,3.200000,1993,30.0
8,9,9018212,Achicha Wahyuni,"Yogyakarta, 3 juni 1991",FTI/ Web Design,"Noyokerten, Sendangirto, Berbah",2009,2016,Guru,0.000000,6.000000e+05,403.000000,3.240000,1991,32.0
9,10,9018301,Yayan Tisna Permadi,"Purbalingga, 08 Oktober 1991",FTI/ Teknik Inormatika,"Tajug, Rt.04/ 05 Purbalingga",2009,2016,Mahasiswa,2.400000,1.475635e+06,450.000000,3.060000,1991,32.0
10,11,12022020,Muh. Rama dhai,"Pekanbaru, 29 Maret 1992",FTI / Teknik Elektro,"Karongan Rt/Rw. 04/11 Jogotirto, Berbah Sleman",2012,2016,Mahasiswa,2.400000,1.200000e+06,423.000000,3.470000,1992,31.0
11,12,12022038,Nurwahyuddi,"Dili, timor-timur/ 13 April 1995",FTI / Teknik Elektro,Juru Gentong J V/407 C Banguntapan,2012,2016,Mahasiswa,2.400000,1.475635e+06,413.000000,3.620000,1995,28.0
12,13,12019039,Agus Purnomo,"Klaten, 2 Agustus 1992",FTI/ Teknik Industri,"Dukuh Glagahwangi, Polanharjo",2012,2016,Mahasiswa,2.400000,1.475635e+06,480.000000,3.320000,1992,31.0
13,14,11018111,M. Akhwan Zulfayandi,"Teros, 12 September 1992",FTI/ Teknik Informatika,"Jl. Peumnas gg. Indragiri Blok B/24, Condongcatur",2011,2016,Mahasiswa,2.400000,1.475635e+06,406.000000,3.140000,1992,31.0
14,15,9018135,Yunita Tri Hernawai,"Magelang, 20 Juni 1991",FTI/ Teknik Informatika,Magelang,2009,2016,Swasta,1.000000,1.500000e+06,423.000000,2.990000,1991,32.0
15,16,12018161,Pratama Setya Aji,"Sleman, 20 September 1994",FTI,Jl. Affandi gg.Kamboja CTX.19 Yogyakarta,2012,2016,Freelance,0.000000,7.500000e+05,400.000000,3.600000,1994,29.0

In [116]:
for index, row in df.iterrows():
    df.loc[index, 'Masa Studi'] = row['Lulus'] - row['Masuk']
df

,No,NIM,Nama,TTL,Fakultas,Alamat,Masuk,Lulus,Status,LamaTunggu,Gaji,TOEFL,IPK,Tahun Lahir,Umur,Masa Studi
0,1,9018263,Puguh Drajat E.P,"Purworejo, 4 November 1989",FTI / Teknik Iformatika,Tangerang Rt. 01/ 0,2009,2016,Mahasiswa,2.400000,1.475635e+06,390.000000,2.130000,1989,34.0,7.0
1,2,12022030,Arsyad Cahya Subrata,"Bantul, 21 juni 1994",FTI / Teknik Elektro,"Karangpule Rt.01 , Tirtonirmolo , Kasihan Bantul",2012,2016,Mahasiswa,1.957143,1.343311e+06,419.769231,3.156154,1994,29.0,4.0
2,3,12020021,Yesi Novela,"Tempilang, 1 januari 1995",FTI,NaN,2012,2016,Mahasiswa,2.400000,1.475635e+06,419.769231,3.156154,1995,28.0,4.0
3,4,9018269,Pandu Herwijaya,"Lampung, 19 Desember 1990",FTI/ Teknik Infomatika,"Tamantirto, Kasihan ,Bantul",2009,2016,Mahasiswa,2.400000,1.475634e+06,413.000000,2.750000,1990,33.0,7.0
4,5,9018109,Anjar Prasetyo,"Gunungkidul, 27 April 1991",FTI /Teknik Informatika,"Umbulharjo , Yogyakarta",2009,2016,Mahasiswa,1.957143,1.343311e+06,419.769231,3.156154,1991,32.0,7.0
5,6,9020026,Moh. Dadi Kurniawan,"Savanajaya, 27 Maret 1992",FTI / Futsal,Saren Rt. 02 Rw. 01 Caturtunggal,2009,2016,Mahasiswa,2.400000,1.475635e+06,400.000000,3.240000,1992,31.0,7.0
6,7,12018060,Martin Sarlina,"Lepak, 23 Maret 1994",FTI,NTB,2012,2016,Mahasiswa,2.400000,1.475635e+06,396.000000,3.270000,1994,29.0,4.0
7,8,11018022,Yan Adhi Permadi,"Jepara, 22 juni 1993",FTI,Umbulharjo V,2011,2016,Wiraswasta,2.400000,1.475635e+06,460.000000,3.200000,1993,30.0,5.0
8,9,9018212,Achicha Wahyuni,"Yogyakarta, 3 juni 1991",FTI/ Web Design,"Noyokerten, Sendangirto, Berbah",2009,2016,Guru,0.000000,6.000000e+05,403.000000,3.240000,1991,32.0,7.0
9,10,9018301,Yayan Tisna Permadi,"Purbalingga, 08 Oktober 1991",FTI/ Teknik Inormatika,"Tajug, Rt.04/ 05 Purbalingga",2009,2016,Mahasiswa,2.400000,1.475635e+06,450.000000,3.060000,1991,32.0,7.0
10,11,12022020,Muh. Rama dhai,"Pekanbaru, 29 Maret 1992",FTI / Teknik Elektro,"Karongan Rt/Rw. 04/11 Jogotirto, Berbah Sleman",2012,2016,Mahasiswa,2.400000,1.200000e+06,423.000000,3.470000,1992,31.0,4.0
11,12,12022038,Nurwahyuddi,"Dili, timor-timur/ 13 April 1995",FTI / Teknik Elektro,Juru Gentong J V/407 C Banguntapan,2012,2016,Mahasiswa,2.400000,1.475635e+06,413.000000,3.620000,1995,28.0,4.0
12,13,12019039,Agus Purnomo,"Klaten, 2 Agustus 1992",FTI/ Teknik Industri,"Dukuh Glagahwangi, Polanharjo",2012,2016,Mahasiswa,2.400000,1.475635e+06,480.000000,3.320000,1992,31.0,4.0
13,14,11018111,M. Akhwan Zulfayandi,"Teros, 12 September 1992",FTI/ Teknik Informatika,"Jl. Peumnas gg. Indragiri Blok B/24, Condongcatur",2011,2016,Mahasiswa,2.400000,1.475635e+06,406.000000,3.140000,1992,31.0,5.0
14,15,9018135,Yunita Tri Hernawai,"Magelang, 20 Juni 1991",FTI/ Teknik Informatika,Magelang,2009,2016,Swasta,1.000000,1.500000e+06,423.000000,2.990000,1991,32.0,7.0
15,16,12018161,Pratama Setya Aji,"Sleman, 20 September 1994",FTI,Jl. Affandi gg.Kamboja CTX.19 Yogyakarta,2012,2016,Freelance,0.000000,7.500000e+05,400.000000,3.600000,1994,29.0,4.0

In [117]:
for index, row in df.iterrows():
    if row['IPK'] > 3.50:
        df.loc[index, 'Nilai_IPK'] = 'Maksimum'
    elif row['IPK'] >= 2.75:
        df.loc[index, 'Nilai_IPK'] = 'Rata - Rata'
    else:
        df.loc[index, 'Nilai_IPK'] = 'Minimum'
df[['NIM', 'IPK', 'Nilai_IPK']]

         NIM       IPK    Nilai_IPK
0    9018263  2.130000      Minimum
1   12022030  3.156154  Rata - Rata
2   12020021  3.156154  Rata - Rata
3    9018269  2.750000  Rata - Rata
4    9018109  3.156154  Rata - Rata
5    9020026  3.240000  Rata - Rata
6   12018060  3.270000  Rata - Rata
7   11018022  3.200000  Rata - Rata
8    9018212  3.240000  Rata - Rata
9    9018301  3.060000  Rata - Rata
10  12022020  3.470000  Rata - Rata
11  12022038  3.620000     Maksimum
12  12019039  3.320000  Rata - Rata
13  11018111  3.140000  Rata - Rata
14   9018135  2.990000  Rata - Rata
15  12018161  3.600000     Maksimum

In [118]:
for index, row in df.iterrows():
    if row['toel'] > 500:
        df.loc[index, 'Kategori'] = 'T3'
    elif row['TOEFL'] >= 450:
        df.loc[index, 'Kategori'] = 'T2'
    else:
        df.loc[index, 'Kategori'] = 'T1'
df[['NIM', 'IPK', 'TOEFL', 'Kategori']]

KeyError: 'toel'

In [ ]:
for index, row in df.iterrows():
    if row['LamaTunggu'] >= 9:
        df.loc[index, 'LAMA TUNGGU'] = 'W4'
    elif row['LamaTunggu'] >= 6:
        df.loc[index, 'LAMA TUNGGU'] = 'W3'
    elif row['LamaTunggu'] >= 3:
        df.loc[index, 'LAMA TUNGGU'] = 'W2'
    else:
        df.loc[index, 'LAMA TUNGGU'] = 'W1'
df[['NIM', 'IPK', 'TOEFL', 'LAMA TUNGGU']]

In [ ]:
for index, row in df.iterrows():
    if row['Masa Studi'] >= 4:
        DATA.loc[index, 'MASA STUDI'] = 'TTW'
    else:
        df.loc[index, 'MASA STUDI'] = 'TW'
df[['NIM', 'IPK', 'TOEFL', 'LAMA TUNGGU', 'MASA STUDI']]

In [ ]:
for index, row in df.iterrows():
    if row['Umur'] >= 25:
        df.loc[index, 'UMUR'] = 'TP'
    else:
        df.loc[index, 'UMUR'] = 'UP'
df[['NIM', 'IPK', 'TOEFL', 'LAMA TUNGGU', 'MASA STUDI', 'UMUR']]

In [ ]:
for index, row in df.iterrows():
    if row['Gaji'] >= 1572200:
        df.loc[index, 'GAJI'] = 'A.UMR'
    else:
        df.loc[index, 'GAJI'] = 'B.UMR'
df[['NIM', 'IPK', 'TOEFL', 'LAMA TUNGGU', 'MASA STUDI', 'UMUR', 'GAJI']]

In [ ]:
df

# Transformasi One-Hot Encoding

In [ ]:
dummies = pd.get_dummies(df.Status)
dummies.columns = ['Freelance', 'Guru', 'Mahasiswa', 'Swasta', 'Wiraswasta']
dummies